<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Vendor Registration
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <form [formGroup]="registrationForm" (ngSubmit)="submit()">
      <ion-list>
        <ion-list-header>
          <ion-label>Account</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input inputmode="email" formControlName="username" id="username" [(ngModel)]="usernames"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.username">
          <ng-container *ngIf="username.hasError(error.type) && (username.dirty || username.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input inputmode="password" formControlName="password" [(ngModel)]="passwords"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.password">
          <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

      </ion-list>

      <br>
      <ion-list formGroupName="regisven">
        <ion-list-header>
          <ion-label>Profile</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input autocapitalize inputmode="text" formControlName="name" id="name" [(ngModel)]="regisven.name">
          </ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.name">
          <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input autocapitalize inputmode="email" formControlName="email" id="email" [(ngModel)]="regisven.email">
          </ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.email">
          <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>


        <ion-item>
          <ion-label position="floating">Department</ion-label>
          <ion-input formControlName="department" id="department" [(ngModel)]="regisven.department"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.department">
          <ng-container *ngIf="department.hasError(error.type) && (department.dirty || department.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <ion-item>
          <ion-label position="floating">NRIC</ion-label>
          <ion-input formControlName="NRIC" id="NRIC" [(ngModel)]="regisven.NRIC"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.NRIC">
          <ng-container *ngIf="NRIC.hasError(error.type) && (NRIC.dirty || NRIC.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <ion-item>
          <ion-label position="floating">Stall Number</ion-label>
          <ion-input formControlName="stallNo" id="stallNo" [(ngModel)]="regisven.stallNo"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.stallNo">
          <ng-container *ngIf="stallNo.hasError(error.type) && (stallNo.dirty || stallNo.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <ion-item>
          <ion-label position="floating">Balance</ion-label>
          <ion-input formControlName="balance" id="balance" [(ngModel)]="regisven.balance"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.balance">
          <ng-container *ngIf="balance.hasError(error.type) && (balance.dirty || balance.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

      </ion-list>
      <ion-button [disabled]="!registrationForm.valid" (click)="register()" expand="block">Submit <ion-icon slot="end"
          name="create">
        </ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>