<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <mat-accordion *ngFor="let prodItem of shopItems">
    <div *ngFor="let stall of shopDeets">
      <div *ngIf="userId == stall.stallOwner">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header  *ngIf="stall.key == prodItem.stall">
        
        <mat-panel-title>
          {{ prodItem.prodName }}
        </mat-panel-title>
        <mat-panel-description>
         $ {{ prodItem.price }}
        </mat-panel-description>
        
      </mat-expansion-panel-header>

      <img [src]="prodItem.image"><br>
      <p> {{ prodItem.prodDesc }}</p>
      <mat-action-row>
        <button color="warn" (click)="deleteFood(prodItem.key)"> Delete </button>
      </mat-action-row>

    </mat-expansion-panel>

    </div>
    </div>
    
  </mat-accordion><br>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="padding: 20px;">
    <ion-fab-button (click)="addFoodItems()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
