<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" style="padding:0px;">
    <ion-item-divider lines="solid" style="background-color: white;">

    </ion-item-divider>
    <ion-item lines="solid">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-input type="text" placeholder="Enter amount" style="margin-left: 10px;"></ion-input>

    </ion-item>
    <br>
    <ion-item lines="solid">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-input type="text" placeholder="Enter mobile number" style="margin-left: 10px;"></ion-input>
      <ion-icon name="add-circle-outline"></ion-icon>

    </ion-item>
    <br>
    <ion-item lines="solid">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      <ion-input type="text" placeholder="Type a message" style="margin-left: 10px;"></ion-input>

    </ion-item>
    <ion-item-divider lines="solid" style="background-color: white;">
    </ion-item-divider>
    <ion-item>
      <ion-label>Request for e-Invoice</ion-label>
      <ion-toggle slot="end" name="request" checked></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-button expand="block" fill="outline" routerLink="/tabs">Send</ion-button>
</ion-content>