<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center; background-color:#0079C1; color: white;">EZPay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar>
      <ion-segment [(ngModel)]="segment" mode="md">
        <ion-segment-button value="user">
          Student
        </ion-segment-button>
        <ion-segment-button value="card">
          Vendors
        </ion-segment-button>
        <ion-segment-button value="card1">
          Admin
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  
  
  <ion-content>
    <div style="text-align: center;">
      <img src="assets/tp.png" style="height: 80px; margin: 30px;">
    </div>
  
    <div [ngSwitch]="segment">
      <div *ngSwitchCase="'user'" style="text-align: center;">
        <!-- header and user type -->
        <h2 style="text-align: center; color: rgb(250, 246, 246);">Student</h2>
  
        <!-- username -->
        <ion-item lines="none">
            <ion-icon slot="start" name="person-outline"></ion-icon>      
          <ion-input type="text"></ion-input>
        </ion-item>
  
        <!-- password -->
        <ion-item lines="none">
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input type="password"></ion-input>
        </ion-item>
  
        <!-- ion button -->
        <ion-button>
          Login
        </ion-button>
        
      </div>
    
      <div *ngSwitchCase="'card1'" style="text-align: center;">
        <!-- header and user type -->
        <h2 style="text-align: center; color: rgb(250, 246, 246);">Admin</h2>
  
        <!-- username -->
        <ion-item lines="none">
            <ion-icon slot="start" name="person-outline"></ion-icon>      
          <ion-input type="text"></ion-input>
        </ion-item>
  
        <!-- password -->
        <ion-item lines="none">
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input type="password"></ion-input>
        </ion-item>
  
        <!-- ion button -->
        <ion-button routerLink="/tabs">
          Login
        </ion-button>
      </div>
  
      <div *ngSwitchCase="'card'" style="text-align: center; color: rgb(250, 246, 246);">
        <!-- header and user type -->
        <h2 style="text-align: center;">Staff</h2>
  
        <!-- username -->
        <ion-item lines="none">
            <ion-icon slot="start" name="person-outline"></ion-icon>      
          <ion-input type="text"></ion-input>
        </ion-item>
  
        <!-- password -->
        <ion-item lines="none">
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input type="password"></ion-input>
        </ion-item>
  
        <!-- ion button -->
        <ion-button routerLink="/tabs">
          Login
        </ion-button>
      </div>
  
  
    </div>
  </ion-content>
</ion-content>