ion-content {
    --background: linear-gradient( #0079C1 0%, #00457C 100%);
}
ion-toolbar{
    --background: #0079C1;
    color: white;
}

ion-icon {
    font-size: 35px;
    // width: 50%;
    margin-top: 20px;
    margin-left: 10px;
}
ion-button{
    display: flex;
    border-radius: 25px;
    width: 80%;
    margin-left: 35px;
    margin-top: 35px;
    
}