<ion-header>
  <ion-toolbar>
    <ion-title>My QR Code</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion_item>
    <ion-input type="text" disabled="true" placeholder="My QR Code data" [(ngModel)]="qrData" style="text-align: center; font-size: 20px; color: black;"></ion-input>
  </ion_item>

  <ion-card *ngIf="qrData" text-center>
    <ngx-qrcode [value]="qrData" [elementType]="elementType" id="qrCode">
    </ngx-qrcode>
    <ion-card-content>
      <!-- <ion-button expand="full" color="tertiary" (click)="downloadQR()" *ngIf="elementType === 'canvas'">
        <ion-icon name="download" slot="start"></ion-icon>
        Download QR Code
      </ion-button> -->
    </ion-card-content>
  </ion-card>

</ion-content>
