ion-toolbar{
    --background: #0079C1;
    color: white;
}

#share {
    width: 85%;
    margin: 0 auto 25px auto;
    position: fixed;
    bottom: 0;
    right:0px;
    left: 0px;
}

#qrCode{
    width: 80%;
    margin-left: 65px;
}
