<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      Overall Transactions
    </ion-title>
    <ion-buttons routerLink="/login" slot="end">
      <ion-icon  name="exit-outline"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<br>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar #autofocus debounce="500" (ionInput)="getItems($event)"
    placeholder="Enter Module Name"></ion-searchbar> 
  <div style="margin: 0 12px 0 12px;" matSort>
    <ion-row><br>
      <ion-col class="headerTxt" size="2" style="background: lightskyblue; color:white;" (click)="sortBy('transactionType')">
        Transaction Type
        <div style="display: inline;" *ngIf="sortKey == 'transactionType'">
          <ion-icon slot="end" class="testSortBt" name="arrow-down" *ngIf="sortDirection == 1"></ion-icon>
          <ion-icon slot="end" class="testSortBt" name="arrow-up" *ngIf="sortDirection == 2"></ion-icon>
        </div>
      </ion-col>
      <ion-col class="headerTxt" size="1" style="background: lightskyblue; color:white;" (click)="sortBy('amount')">
        Amount
        <div style="display: inline;" *ngIf="sortKey == 'amount'">
          <ion-icon slot="end" class="testSortBt" name="arrow-down" *ngIf="sortDirection == 1"></ion-icon>
          <ion-icon slot="end" class="testSortBt" name="arrow-up" *ngIf="sortDirection == 2"></ion-icon>
        </div>
      </ion-col>
      <ion-col class="headerTxt" size="2.45" style="background: lightskyblue; color:white;" (click)="sortBy('from')">
        From
        <div style="display: inline;" *ngIf="sortKey == 'from'">
          <ion-icon slot="end" class="testSortBt" name="arrow-down" *ngIf="sortDirection == 1"></ion-icon>
          <ion-icon slot="end" class="testSortBt" name="arrow-up" *ngIf="sortDirection == 2"></ion-icon>
        </div>
      </ion-col>
      <ion-col class="headerTxt" size="2.45" style="background: lightskyblue; color:white;" (click)="sortBy('to')">
        To
        <div style="display: inline;" *ngIf="sortKey == 'to'">
          <ion-icon slot="end" class="testSortBt" name="arrow-down" *ngIf="sortDirection == 1"></ion-icon>
          <ion-icon slot="end" class="testSortBt" name="arrow-up" *ngIf="sortDirection == 2"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="2.35" style="background: lightskyblue; color:white;" (click)="sortBy('notes')">
        Notes
        <div style="display: inline;" *ngIf="sortKey == 'notes'">
          <ion-icon slot="end" class="testSortBt" name="arrow-down" *ngIf="sortDirection == 1"></ion-icon>
          <ion-icon slot="end" class="testSortBt" name="arrow-up" *ngIf="sortDirection == 2"></ion-icon>
        </div>
      </ion-col>
      <ion-col class="headerTxt" size="1.75" style="background: lightskyblue; color:white;" (click)="sortBy('transactionDate')">
        Date
        <div style="display: inline;" *ngIf="sortKey == 'transactionDate'">
          <ion-icon slot="end" class="testSortBt" name="arrow-down" *ngIf="sortDirection == 1"></ion-icon>
          <ion-icon slot="end" class="testSortBt" name="arrow-up" *ngIf="sortDirection == 2"></ion-icon>
        </div>
      </ion-col>
      
    </ion-row>

    <div *ngFor="let trans of loadedReference">
      <ion-row  style="border: 1px rgb(230, 230, 230) solid;">
        
        <ion-col size="2">
          {{trans.transactionType}}
        </ion-col>
        <ion-col size="1">
          {{trans.amount|currency}} 
        </ion-col>
        <ion-col size="2.45">
          {{trans.from}} 
        </ion-col>
        <ion-col size="2.45">
          {{trans.to}} 
        </ion-col>
        <ion-col size="2.35">
          {{trans.notes}}  
        </ion-col>
        <ion-col size="1.5">
          {{trans.transactionDate | date:'MMMM d, y, HH:mm:ss zzzz'}}
        </ion-col>
        
        
      </ion-row>
    </div>
  </div>
</ion-content>
