
<ion-content style="align-content: center;">
  <img src="assets/paymentsuccess.gif" style="height: 250px; align-content: center;">
<h2 style="margin-left: 90px;">Payment Completed</h2>
<h1 style="margin-left: 110px;"><b>Successfully!!</b></h1>
<ion-card style="margin: 50px;">
<br>
<p style="align-content: center;"><b style="align-content: center;">Details</b></p>

<br>
<ion-card *ngIf="data" style="align-content: center;">
  <ion-card-header>
    <ion-card-title style="align-content: center;">
      {{ data | currency }}
    </ion-card-title>
    <ion-card-content>
      {{ date }}
    </ion-card-content>
  </ion-card-header>
</ion-card>
</ion-card>
<ion-button color="success" style="width: 300px; margin-left: 37px;" (click)="backHome()">Done</ion-button>
</ion-content>
