ion-content {
    --background: linear-gradient( #0079C1 0%, #00457C 100%);
}
ion-toolbar{
    --background: #0079C1;
    color: white;
}
.managebutton{
    border-radius: 5px;
}

ion-icon {
    font-size: 30px;
  }



// .overviewCardImageContainer {
//     display: block;
//     margin:auto;
//     text-align: center;
// }

// .ovwButton{
//     box-shadow: none;
// }