<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      EZPay
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-slides #sliders (ionSlidesDidLoad)='slidesDidLoad(sliders)' pager='true' [options]='slideOpts'>
  <ion-slide (ionSlidesDidLoad)='slidesDidLoad(sliders)' pager='true' [options]='slideOpts'>
    <img src="../../assets/icon/slider1.jpg" alt="" srcset="">
  </ion-slide>
  <ion-slide>
    <img src="../../assets/icon/slider2.png" alt="" srcset="">
  </ion-slide>
  <ion-slide>
    <img src="../../assets/icon/slider3.jpg" alt="" srcset="">
  </ion-slide>
  </ion-slides>




<ion-card style="margin-left: 20px; margin-right: 20px; margin-top: 20px; border-radius: 30px;">
  <ion-card-header style="margin-top: 10px;">
    <ion-card-subtitle><b>You have : </b>
      <ion-button fill="outline" style="margin-left: 60px; float: right;" class="managebutton" shape="round" routerLink="/manage-wallet">Manage</ion-button></ion-card-subtitle>
    <ion-card-title>SGD : $55.00</ion-card-title>
    
    
  </ion-card-header>

  <ion-card-content>
    <ion-row>
      <ion-col size="3" routerLink="/." (click)="openPay()">
          
            <ion-avatar id="avatar1">
            <ion-icon name="paper-plane-outline"></ion-icon>
          </ion-avatar>
          <p >Pay</p>
        
      </ion-col>

      <ion-col size="3" routerLink="/....." (click)="openScan()">
        
          <ion-avatar id="avatar2" >
            <ion-icon name="scan-outline"></ion-icon>
          </ion-avatar>
          <p >Scan</p>
        
      </ion-col>

      <ion-col size="3" routerLink="/..."(click)="openRequest()">
        
          <ion-avatar id="avatar3" >
            <ion-icon name="chatbox-outline"></ion-icon>
          </ion-avatar>
          <p>Request</p>    
        
      </ion-col>

      <ion-col size="3" routerLink="/...."(click)="openMyqr()">
        
          <ion-avatar id="avatar4" >
            <ion-icon name="qr-code-outline"></ion-icon>
          </ion-avatar>
          <p>My QR</p>    
        
      </ion-col>
    </ion-row>

  </ion-card-content>

  
</ion-card>



</ion-content>
