<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Transactions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card (click)="expandItem(item)" *ngFor="let item of items">
    <div>
    <ion-card-header>
      <ion-card-title>Payment 7</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-expandable expandHeight="200px" [expanded]="item.expanded">
        <p><br>
          Number:8644321<br>
          Amount:$355.00<br>
          Date:15 June 2020<br>
          Name:Andrew<br>
          Note:Payment for June shipment
      </p>
      
        
      </app-expandable>
    </ion-card-content>
    </div>
  </ion-card>


</ion-content>
