ion-content {
    --background: linear-gradient( #0079C1 0%, #00457C 100%);
}
ion-toolbar{
    --background: #0079C1;
    color: white;
}
ion-card {
    display: flex !important;
    border-radius: 25px;
    margin-bottom: 16px;
    --background: #0079C1;
    color: white;
    border-style: solid;
    border-color: #FFFFFF;
  }
  h4{
      font-size: 25px;
      font-weight: bold;
      
  }
p{
    font-size: 18px;
}