<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
  <form [formGroup]="paymentForm" (ngSubmit)="submit()">

    <img src="assets/paypal_logo.png" style="height: 80px; margin: 60px; margin-left: 70px;">

    <br>
  
  <ion-button color="dark" ion-button (click)="comprar()" style="margin-left: 70px; width: 200px; margin-top: 50px;">Pay Rent
    <ion-icon slot="end"name="create"></ion-icon>
  </ion-button>
  </form>
</div>

</ion-content>