<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Shop Information
    </ion-title>
    <ion-buttons routerLink="/login" slot="end">
      <ion-icon  name="exit-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons routerLink="/settings" slot="start">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <mat-accordion  *ngFor="let stall of shopDeets">
    <mat-expansion-panel   (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header >
        <mat-panel-title>
          {{ stall.stallName }}
        </mat-panel-title>
        <mat-panel-description>
          {{ stall.stallNumber }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ stall.stallDesc }}</p>


        <mat-accordion *ngFor="let stallItem of shopItems">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header *ngIf="stall.key == stallItem.stall">
              <mat-panel-title>
                {{ stallItem.prodName }}
              </mat-panel-title>
              <mat-panel-description>
                {{ stallItem.price }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <img [src]="stall.image">
            <p> {{ stallItem.prodDesc }}</p>
            <p> {{ stallItem.key }}</p>

          </mat-expansion-panel>
        </mat-accordion><br>
      
    </mat-expansion-panel>
    <br>
  </mat-accordion><br>

</ion-content>