<ion-header>
  <ion-toolbar>
    <ion-title>level</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-card style="padding-top:10px;border-radius:28px;">
    <ion-card-header>
      <ion-card-title>
        Welcome {{adminName}}. Select Level!
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <br>
      <br>
      <ion-row>
        <ion-col>
          <ion-button>
            Secondary One
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button>
            Secondary Two
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button>
            Secondary Three
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button>
            Secondary Four
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button>
            Secondary Five
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
