<ion-header>
  <ion-toolbar>
    <ion-title>Admin Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="text-align: center;">

  <ion-button style="font-size: 100%; padding: 10px; border-radius: 10px; margin: 20px; height: 150%; width: 20%"  (click)="ManageStudents()">

    Manage <br> Students 

  </ion-button>

  <ion-button style="font-size:100%px; padding: 10px; border-radius: 10px; margin: 20px; height: 150%; width: 20%;" (click)="MakeAcc()">

    Create Student <br> Account 

  </ion-button>

  </div>

</ion-content>
