<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons routerLink="/login" slot="end">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section style="text-align: center; padding: 20px;">
    <ion-icon class="icon" name="person"></ion-icon>
    <h1 style="font-size:1.4em; text-align: center;" no-margin>Welcome, <br>
      {{ adminName }}</h1>
  </section>

  <ion-grid>
    <ion-row style='height:auto !important;'>
      <ion-col col-6 style='height:auto;'>
        <ion-card style="background-color: #0079C1; color: white; text-align: center; padding: 20px; height:auto;" (click)="manageStudents()">
          <div style="padding:10px;"></div>
          <ion-icon class="icon" name="people"></ion-icon>
          <h2>Manage Student Accounts</h2>
          <div style="padding:10px;"></div>
        </ion-card>
      </ion-col>
      <ion-col col-6 style='height:auto;'>
        <ion-card style="background-color: #0079C1; color: white; text-align: center; padding: 20px; height:auto;" (click)="createAccount()">
          <div style="padding:10px;"></div>
          <ion-icon class="icon" name="add"></ion-icon>
          <h2>Create Account</h2>
          <div style="padding:10px;"></div>
        </ion-card>
      </ion-col>
      <ion-col col-6 style='height:auto;'>
        <ion-card style="background-color: #0079C1; color: white; text-align: center; padding: 20px; height:auto;" (click)="manageVendors()">
          <div style="padding:10px;"></div>
          <ion-icon class="icon" name="people-outline"></ion-icon>
          <h2>Manage Vendor Accounts</h2>
          <div style="padding:10px;"></div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 style='height:auto;'>
        <ion-card style="background-color: #0079C1; color: white; text-align: center; padding: 20px; height:auto;" (click)="adminHistory()">
          <div style="padding:10px;"></div>
          <ion-icon class="icon" name="time"></ion-icon>
          <h2>Admin History</h2>
          <div style="padding:10px;"></div>
        </ion-card>
      </ion-col>
      <ion-col col-6 style='height:auto;'>
        <ion-card style="background-color: #0079C1; color: white; text-align: center; padding: 20px; height:auto;" (click)="adminReports()">
          <div style="padding:10px;"></div>
          <ion-icon class="icon" name="bug"></ion-icon>
          <h2>Admin Reports</h2>
          <div style="padding:10px;"></div>
        </ion-card>
      </ion-col>
      <ion-col col-6 style='height:auto;'>
        <ion-card style="background-color: #0079C1; color: white; text-align: center; padding: 20px; height:auto;" (click)="seeReports()">
          <div style="padding:10px;"></div>
          <ion-icon class="icon" name="bug"></ion-icon>
          <h2>View Requests</h2>
          <div style="padding:10px;"></div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>