<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title>manage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 0 12px 0 12px;">
    <ion-row style="background: lightskyblue; color:white;">
      <ion-col size="1">
        studentID
      </ion-col>
      <ion-col size="2">
        NRIC
      </ion-col>
      <ion-col size="3.5">
        Name
      </ion-col>
      <ion-col size="1">
        Level
      </ion-col>
      <ion-col size="1">
        Class
      </ion-col>
      <ion-col size="1.5">
        Balance
      </ion-col>
      <ion-col size="2">
        Row Settings
      </ion-col>
    </ion-row>

    <div *ngFor="let user of users">
      <ion-row *ngIf="user.role == role">
        <ion-col size="1">
          {{user.key}}
        </ion-col>
        <ion-col size="2">
          {{user.nric}} (<a (click)="editDetails('nric', user.key)">edit</a>)
        </ion-col>
        <ion-col size="3.5">
          {{user.name}} (<a (click)="editDetails('name', user.key)">edit</a>)
        </ion-col>
        <ion-col size="1">
          {{user.level}} (<a (click)="editDetails('level', user.key)">edit</a>)
        </ion-col>
        <ion-col size="1">
          {{user.class}} (<a (click)="editDetails('class', user.key)">edit</a>)
        </ion-col>
        <ion-col size="1.5">
          {{user.balance}} (<a (click)="editDetails('balance', user.key)">edit</a>)
        </ion-col>
        <ion-col size="2">
          <ion-icon style="padding: 0 !important;margin: 0 !important;" size="small" name="create"></ion-icon> <ion-icon style="padding: 0 !important;margin: 0 !important;" size="small" name="trash"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <ion-button expand="block" (click)="createAccount(role)">Create new {{role}} info</ion-button>
</ion-content>