<ion-header>
  <ion-toolbar>
    <ion-title>manage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="padding-top:10px;border-radius:18px;">
    <ion-card-header>
      <ion-card-title>
        Secondary {{level}} students
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="1">
          studentID
        </ion-col>
        <ion-col size="2">
          NRIC
        </ion-col>
        <ion-col size="3.5">
          Name
        </ion-col>
        <ion-col size="1">
          Level
        </ion-col>
        <ion-col size="1">
          Class
        </ion-col>
        <ion-col size="1.5">
          Balance
        </ion-col>
        <ion-col size="2">
          Row Settings
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1">
          1
        </ion-col>
        <ion-col size="2">
          T0122675J (<a>edit</a>)
        </ion-col>
        <ion-col size="3.5">
          Muhamad Naufal Taufiq Bin Suhaimi (<a>edit</a>)
        </ion-col>
        <ion-col size="1">
          4 (<a>edit</a>)
        </ion-col>
        <ion-col size="1">
          E1 (<a>edit</a>)
        </ion-col>
        <ion-col size="1.5">
          $69.00 (<a>edit</a>)
        </ion-col>
        <ion-col size="2">
          <ion-icon style="padding: 0 !important;margin: 0 !important;" size="small" name="create"></ion-icon> <ion-icon style="padding: 0 !important;margin: 0 !important;" size="small" name="trash"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1">
          2
        </ion-col>
        <ion-col size="2">
          TXXXXXXXY (<a>edit</a>)
        </ion-col>
        <ion-col size="3.5">
          Yu Hongbin (<a>edit</a>)
        </ion-col>
        <ion-col size="1">
          4 (<a>edit</a>)
        </ion-col>
        <ion-col size="1">
          E1 (<a>edit</a>)
        </ion-col>
        <ion-col size="1.5">
          $9,999.99 (<a>edit</a>)
        </ion-col>
        <ion-col size="2">
          <ion-icon style="padding: 0 !important;margin: 0 !important;" size="small" name="create"></ion-icon> <ion-icon style="padding: 0 !important;margin: 0 !important;" size="small" name="trash"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1">
          3
        </ion-col>
        <ion-col size="2">
          TXXXXXXXY (<a>edit</a>)
        </ion-col>
        <ion-col size="3.5">
          Khoo Ye Chen (<a>edit</a>)
        </ion-col>
        <ion-col size="1">
          4 (<a>edit</a>)
        </ion-col>
        <ion-col size="1">
          E1 (<a>edit</a>)
        </ion-col>
        <ion-col size="1.5">
          $420.69 (<a>edit</a>)
        </ion-col>
        <ion-col size="2">
          <ion-icon style="padding: 0 !important;margin: 0 !important;" size="small" name="create"></ion-icon> <ion-icon style="padding: 0 !important;margin: 0 !important;" size="small" name="trash"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1">
          4
        </ion-col>
        <ion-col size="2">
          TXXXXXXXY (<a>edit</a>)
        </ion-col>
        <ion-col size="3.5">
          Cao Jinming (<a>edit</a>)
        </ion-col>
        <ion-col size="1">
          4 (<a>edit</a>)
        </ion-col>
        <ion-col size="1">
          E1 (<a>edit</a>)
        </ion-col>
        <ion-col size="1.5">
          $420.00 (<a>edit</a>)
        </ion-col>
        <ion-col size="2">
          <ion-icon style="padding: 0 !important;margin: 0 !important;" size="small" name="create"></ion-icon> <ion-icon style="padding: 0 !important;margin: 0 !important;" size="small" name="trash"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-button>
    Create new student info
  </ion-button>
</ion-content>
