<ion-header>
  <ion-toolbar>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="scanResult">
    <ion-card-header>
      <ion-card-title>Stall Name:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ scanResult }}
    </ion-card-content>
  </ion-card>

  <video #video [hidden]="!scanActive" style="width: 100%;"></video>
  
  <canvas #canvas hidden></canvas>
 
<ion-card>
<header style="margin-top: 20%; margin-left: 20%;">From: John Doe</header>
<br>
<header style="margin-left: 20%;">Currency: SGD$</header>
<br>
<input type ="number" step="0.01" style="margin-left: 20%; width: 60%; border-radius: 10px;">
<br>
<ion-button style="margin-left: 30%; margin-bottom: 20%;">Confirm</ion-button>
</ion-card>
</ion-content>
