<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <video #video [hidden]="!scanActive" style="width: 100%; "></video>
  
  <canvas #canvas hidden></canvas>

  <form [formGroup]="transactionForm">


    <ion-list formGroupName="transaction">
  <ion-card style="border-radius: 30px;height: auto;">
    <ion-card *ngIf="scanResult">
      <ion-card-header>
        <ion-card-title>Stall Name:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
        <ion-input> {{ scanResult }}
      </ion-input>
      </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- <ion-card *ngIf="scannedCode">
      <ion-card-header>
        <ion-card-title>Stall Name:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{scannedCode}}
      </ion-card-content>
    </ion-card> -->
    
    <ion-card-content style="margin-top: 0;">
      <ion-row>
        <ion-col >
            <ion-item>
              <ion-label>Name : {{name}}</ion-label>
              <ion-label></ion-label>
            </ion-item>
          </ion-col>
      </ion-row>

      <ion-row>
        <ion-col >
          <ion-list>
          <ion-item>
            <ion-label>Amount :</ion-label>
            <ion-input inputmode="numeric" type="number" formControlName="amount" id="amount" [(ngModel)]="transaction.amount"></ion-input>
          </ion-item>
          
        </ion-list>
        </ion-col>
      </ion-row>
     
        <ion-row >
          <ion-col>
          <ion-list>
            <ion-item>
              <ion-textarea formControlName="notes"  id="notes" [(ngModel)]="transaction.notes" placeholder="Optional Notes..." style="height: 200px;"> Notes
              </ion-textarea>
            </ion-item>
            <div *ngFor="let error of errorMessages.notes">
              <ng-container *ngIf="notes.hasError(error.type) && (notes.dirty || notes.touched)">
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
          </ion-list>
        </ion-col>
        </ion-row>

          <ion-row>
            <ion-button [disabled]="!transactionForm.valid" expand="block" type="submit" fill="outline" shape="round" style="color:blue;" (click)="presentAlertConfirm()">Submit</ion-button>
          </ion-row>
    </ion-card-content>

  </ion-card>
</ion-list>
</form>




</ion-content>