<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title>Your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="margin: 20px 30px 20px 20px; border-radius: 30px;height: auto;">
      <ion-card-header style="margin-bottom: 0px;">
        <!-- <ion-img style="background: blue; width:90%;height:240px;margin:20px auto 34px auto;" src="http://localhost:8100/src/assets/icon/applogo.JPG"></ion-img> -->
        <!-- <h1 style="margin-left:16px;">Login</h1> -->
      </ion-card-header>
      <ion-card-content style="margin-top: 0;">
        <ion-row style="margin-left: 16px;height:110px">
          <ion-col size="4">
            <ion-icon style="color:black;display:block;width:96px;height:96px;padding-left: 4px;margin-top: 20px;"
            name="person-circle"></ion-icon>
          </ion-col>
          <ion-col size="8">
            <ion-item lines="none">
              <h1 style="margin:40px 0 0 15px;">
                Justin Low
              </h1>
            </ion-item>
          </ion-col>
        </ion-row>
        <p style="color:grey;font-size:12px;margin:10px 0 0 32px;">Change Picture</p>
        <br>
        <br>
        <ion-row  style="color:grey;margin-left:20px;">
          <ion-col size="5">
            <p>Country:</p>
          </ion-col>
          <ion-col>
            <p>Singapore</p>
          </ion-col>
        </ion-row>
        <ion-row style="color: grey;margin-left:20px;">
          <ion-col size="5">
            <p>Phone Number:</p>
          </ion-col>
          <ion-col>
            <p>+65 9876 5432</p>
          </ion-col>
        </ion-row>
        <ion-row style="color:grey;margin-left:20px;">
          <ion-col size="5">
            <p>Address:</p>
          </ion-col>
          <ion-col>
            <p>Tampines Avenue 1, Block 6</p>
          </ion-col>
        </ion-row>
        <br>
        <br>
        <ion-button expand="block" type="submit" fill="outline" routerLink="/tabs" shape="round">Update Details</ion-button>
        <br>
    </ion-card-content>
  </ion-card>

  <!-- <ion-button expand="block" type="submit" fill="outline" routerLink="/login" shape="round">Sign Out</ion-button> -->
</ion-content>