<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title>Your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="border-radius: 30px;height: auto;">
      <ion-card-header style="margin-bottom: 0px;">
        <!-- <ion-img style="background: blue; width:90%;height:240px;margin:20px auto 34px auto;" src="http://localhost:8100/src/assets/icon/applogo.JPG"></ion-img> -->
        <!-- <h1 style="margin-left:16px;">Login</h1> -->
      </ion-card-header>
      <ion-card-content style="margin-top: 0;">
        <ion-row>
          <ion-col size="8">
            <ion-item lines="none">
              <ion-item>
              <h1>
                {{ name }}  {{ class }}   
              </h1>
              </ion-item>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row style="color: black;">
          <ion-col>
            <ion-item>
            <p>Role: {{ role }}</p>
            </ion-item>
          </ion-col>
          
        </ion-row>
        <ion-row style="color: black;">
          <ion-col>
            <ion-item>
            <p>NRIC: {{ NRIC }}</p>
            </ion-item>
          </ion-col>
          
        </ion-row>
        <ion-row style="color: black;">
          <ion-col>
            <ion-item>
            <p>Email: {{ email }}</p>
            </ion-item>
          </ion-col>
          
        </ion-row>
        <ion-row style="color: black;">
          <ion-col>
            <ion-item>
            <p>Balance: {{ balance | currency }}</p>
            </ion-item>
          </ion-col>
          
        </ion-row>
        <ion-row style="color: black;">
          <ion-col>
            <ion-item>
            <p>{{ department }}   {{ stallNo }}</p>
            </ion-item>
          </ion-col>
          
        </ion-row>
        <br>
        <br>
        <ion-button expand="block" type="submit" fill="outline" routerLink="/tabs" shape="round" style="color:red;">Log Out</ion-button>
        <br>
    </ion-card-content>
  </ion-card>

  <!-- <ion-button expand="block" type="submit" fill="outline" routerLink="/login" shape="round">Sign Out</ion-button> -->
</ion-content>