<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title>Your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <ion-grid>
    <ion-row style="height: 50px;">
      <ion-col offset="1" size="5">
        <ion-card style="background:none;box-shadow:none;">
          <ion-card-header>
            <ion-avatar>
                <ion-icon style="color:white;display:block;width:120px;height:120px;" name="person-circle"></ion-icon>
            </ion-avatar>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>
              <a href="#" style="display:block;text-align:center;text-decoration:none;color: white; margin-top: 40px;margin-left: 5px;font-size: 12px;">Change Picture</a>
            </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col pull="1" size="5">
          <h2 style="color: white; margin-left: 15px; margin-top: 60px;">Justin</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="5" size="7">
        <h5 style="color: white; margin-left: 15px; margin-top: 60px; width: 100%;height: 100%;">Singapore</h5>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="padding:35px;"></div>
  <ion-grid>
    <ion-row>
      <ion-col offset="2" size="3">
        <p style="color: white;">
          Phone Number:
        </p>
      </ion-col>
      <ion-col size="7">
        <ion-input style="background-color: inherit;color: white; margin-top: 7px; border-style: groove; border-radius: 15px;" disabled ngModel type="tel" value="">+65 9876 5432</ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col offset="2" size="3">
        <p style="color: white;">
          Date Joined:
        </p>
      </ion-col>
      <ion-col size="7">
        <ion-input style="background-color: inherit;color: white; margin-top: 7px; border-style: groove; border-radius: 15px; " disabled ngModel type="tel" value="">10 June 2020</ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col offset="2" size="3">
        <p style="color: white;">
          Address:
        </p>
      </ion-col>
      <ion-col size="7">
        <ion-input style="background-color: inherit;color: white; margin-top: 7px; border-style: groove; border-radius: 15px; " disabled ngModel type="tel" value=""> Tampines Avenue 1 Block 6</ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-button expand="block" type="submit" fill="outline" routerLink="/login" shape="round">Sign Out</ion-button> -->
</ion-content>
