<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Shop Information
    </ion-title>
    <ion-buttons routerLink="/login" slot="end">
      <ion-icon  name="exit-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons routerLink="/settings" slot="start">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <mat-accordion >
    <mat-expansion-panel   (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header >
        <mat-panel-title>
          Japanese Cusine
        </mat-panel-title>
        <mat-panel-description>
          Blk 28 Level 1
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>The traditional cuisine of Japan is based on rice with miso soup and other dishes; there is an emphasis on seasonal ingredients. Side dishes often consist of fish, pickled vegetables, and vegetables cooked in broth. Seafood is common, often grilled, but also served raw as sashimi or in sushi. Seafood and vegetables are also deep-fried in a light batter, as tempura. Apart from rice, staples include noodles, such as soba and udon. Japan also has many simmered dishes such as fish products in broth called oden, or beef in sukiyaki and nikujaga.</p>

      
        <mat-accordion >
          <mat-expansion-panel   (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header >
              <mat-panel-title>
                Curry rice
              </mat-panel-title>
              <mat-panel-description>
              $3.00
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>descirption</p>

          </mat-expansion-panel>
        </mat-accordion><br>
      
        <mat-accordion>
          <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Sushi
              </mat-panel-title>
              <mat-panel-description>
                $2.50
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>des</p>
          </mat-expansion-panel>
        </mat-accordion><br>
      
        <mat-accordion>
          <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Udon
              </mat-panel-title>
              <mat-panel-description>
                $3.20
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>des</p>
          </mat-expansion-panel>
        </mat-accordion><br>
    
      
    </mat-expansion-panel>
  </mat-accordion><br>





  <mat-accordion>
    <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Indian Delights
        </mat-panel-title>
        <mat-panel-description>
          Blk 25 Level 1
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Spicy, rich, flavourful and diverse are terms that are frequently used to describe Indian food. All these words are apt in describing Indian cuisine, for it is diverse in variety and taste, and is made up from a wide array of regional cuisines throughout various parts of India.</p>
      
        <mat-accordion >
          <mat-expansion-panel   (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header >
              <mat-panel-title>
                Egg Prata
              </mat-panel-title>
              <mat-panel-description>
              $1.00
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>descirption</p>
          </mat-expansion-panel>
        </mat-accordion><br>
      
        <mat-accordion>
          <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Butter Chicken
              </mat-panel-title>
              <mat-panel-description>
                $3.50
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This recipe calls for common ingredients like olive oil, onion, garlic, ginger, butter, chicken stock, and tomato puree. The chicken is marinated twice, once in a dry rub and then in a yogurt mixture. This makes the chicken moist and flavorful, adding to the richness of the dish.</p>
          </mat-expansion-panel>
        </mat-accordion><br>
      
        <mat-accordion>
          <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Undhiyu
              </mat-panel-title>
              <mat-panel-description>
                $3.20
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>The signature winter Gujarati dish. Curry of mixed vegetables like surti papdi, ratalu, potatoes, carrot, green garlic, tuvar dana, waal dana etc. rich in oil and spices generally accompanied by puri or roti.</p>
    </mat-expansion-panel>
  </mat-accordion><br>

</mat-expansion-panel>
</mat-accordion><br>





  <mat-accordion>
    <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ban Mian
        </mat-panel-title>
        <mat-panel-description>
          Blk 26 Level 1
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Banmian or pan mee is a popular Chinese noodle dish, consisting of handmade noodles served in soup. Other types of handmade noodles include youmian (similar dough texture and taste, but thinner round noodles), or mee hoon kueh (flat and thin rectangular pieces).</p>
      
        <mat-accordion >
          <mat-expansion-panel   (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header >
              <mat-panel-title>
                Black Bean Sauce Ban Mian
              </mat-panel-title>
              <mat-panel-description>
              $3.00
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>descirption</p>
          </mat-expansion-panel>
        </mat-accordion><br>
      
        <mat-accordion>
          <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Dry Prawn You Mee
              </mat-panel-title>
              <mat-panel-description>
                $2.50
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>des</p>
          </mat-expansion-panel>
        </mat-accordion><br>
      
        <mat-accordion>
          <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Sliced Fish Ban Mian
              </mat-panel-title>
              <mat-panel-description>
                $3.20
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>des</p>
    </mat-expansion-panel>
  </mat-accordion><br>

</mat-expansion-panel>
</mat-accordion><br>






  <mat-accordion>
    <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Chicken Rice
        </mat-panel-title>
        <mat-panel-description>
          Blk 4 Level 2
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Hainanese chicken rice is a dish of poached chicken and seasoned rice, served with chilli sauce and usually with cucumber garnishes. It was created by immigrants from Hainan in southern China and adapted from the Hainanese dish Wenchang chicken. It is considered one of the national dishes of Singapore and is most commonly associated with Singaporean cuisine. The dish is also seen throughout Southeast Asia, particularly Indonesia and Malaysia where it is a culinary staple.</p>
      
        <mat-accordion >
          <mat-expansion-panel   (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header >
              <mat-panel-title>
                Roasted Chicken Rice
              </mat-panel-title>
              <mat-panel-description>
              $3.00
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>descirption</p>
          </mat-expansion-panel>
        </mat-accordion><br>
      
        <mat-accordion>
          <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Shredded Chicken Porridge
              </mat-panel-title>
              <mat-panel-description>
                $3.40
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>des</p>
          </mat-expansion-panel>
        </mat-accordion><br>
      
        <mat-accordion>
          <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Chicken Kuey Teow
              </mat-panel-title>
              <mat-panel-description>
                $3.20
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>des</p>
    </mat-expansion-panel>
  </mat-accordion><br>

</mat-expansion-panel>
</mat-accordion><br>






  <mat-accordion>
    <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bookshop
        </mat-panel-title>
        <mat-panel-description>
          Blk 27 Level 5
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Located inside the Temasek Polytechnic school library.</p>

      
        <mat-accordion >
          <mat-expansion-panel   (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header >
              <mat-panel-title>
                Basic Business Finance
              </mat-panel-title>
              <mat-panel-description>
              $3.00
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>descirption</p>

          </mat-expansion-panel>
        </mat-accordion><br>
      
        <mat-accordion>
          <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Career Readiness Handbook
              </mat-panel-title>
              <mat-panel-description>
                $2.50
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>des</p>

          </mat-expansion-panel>
        </mat-accordion><br>
      
        <mat-accordion>
          <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Network & Technology
              </mat-panel-title>
              <mat-panel-description>
                $3.20
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>des</p>
    </mat-expansion-panel>
  </mat-accordion><br>

</mat-expansion-panel>
</mat-accordion><br>






  <mat-accordion>
    <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Printing Station
        </mat-panel-title>
        <mat-panel-description>
          Blk 27 Level 5 & 6
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Located inside the library.</p>
   
        <mat-accordion >
          <mat-expansion-panel   (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header >
              <mat-panel-title>
                Printing
              </mat-panel-title>
              <mat-panel-description>
              $0.40/page
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>descirption</p>

          </mat-expansion-panel>
        </mat-accordion><br>
      
        <mat-accordion>
          <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Photocopy
              </mat-panel-title>
              <mat-panel-description>
                $0.40/page
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>des</p>

          </mat-expansion-panel>
        </mat-accordion><br>
      

</mat-expansion-panel>
</mat-accordion><br>



</ion-content>
