ion-content {
    --background: inherit   ;
  }
  
  ion-toolbar{
    --background: #0079C1;
    color: white;
  }
  
  ion-icon {
    font-size: 30px;
    
    margin-left: 10px;
  }

  
  .reportBtn{
    
    width: 85px;
    font-size: xx-small;
   background: crimson;
  }

  .sentEmail{
    
    width: 85px;
    

  }

  