<ion-header>
  <ion-toolbar>
    <ion-title>Request</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="recaptcha-container" style="display: none;"></div>

  <div *ngIf="!otpSent">
    <ion-note style="font-weight: bold; font-size: medium;">
      Enter the phone number you want to verify with OTP
    </ion-note>

    <ion-item>
      <ion-label position="floating"> Phone Number </ion-label>
      <ion-input id="phoneNumber"></ion-input>
    </ion-item>

    <ion-button style="float: right;margin-top: 30px;" (click)="sentOTP()">
      Send OTP
    </ion-button>
  </div>

  <div *ngIf="otpSent">
    <ion-note style="font-weight: bold; font-size: medium;">
      Enter the OTP sent to {{phoneNumber}}333333333
    </ion-note>

    <ion-item>
      <ion-label position="floating">Verify ze OTP</ion-label>
      <ion-input id="otp"></ion-input>
    </ion-item>

    <ion-button style="float: right;margin-top: 30px;" (click)="verifyOTP()">
      Verify the one and only OTP *HELLO*
    </ion-button>
    <ion-button style="float: right;margin-top: 30px;" (click)="verifyOTP()">
      Test button
    </ion-button>
  </div>

</ion-content>