<ion-header>
  <ion-toolbar>
    <ion-title>Edit User Details</ion-title>
    <ion-buttons (click)="closeModal()" slot="start">
      <ion-icon style="font-size: 32px; margin-right: -8px;" name="close-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-left: 8px;">
    <br>
  <h3>User ID: {{userK}}</h3>
    <ion-row>
      <ion-col>
        <ion-label position="stacked">Name</ion-label>
        <ion-input maxlength="36" value="{{userName}}" [(ngModel)]="userName" placeholder="Steve Jobs"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" (click)="updateUserDetails('name')">Update Name</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label position="stacked">NRIC</ion-label>
        <ion-input maxlength="9" value="{{userNRIC}}" [(ngModel)]="userNRIC" placeholder="S0123456A"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" (click)="updateUserDetails('nric')">Update NRIC</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label position="stacked">Email</ion-label>
        <ion-input maxlength="36" value="{{userEmail}}" [(ngModel)]="userEmail" placeholder="example@gmail.com"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" (click)="updateUserDetails('email')">Update Email</ion-button>
      </ion-col>
    </ion-row>
    <p>{{userRole}}</p>
    <ion-row *ngIf="userRole == 'student'">
      <ion-col size="2">
        <ion-label position="stacked">Level</ion-label>
        <ion-input maxlength="2" value="{{userLevel}}" [(ngModel)]="userLevel" placeholder="1"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" (click)="updateUserDetails('level')">Update Level</ion-button>
      </ion-col>
      <ion-col offset="2" size="2">
        <ion-label position="stacked">Class</ion-label>
        <ion-input maxlength="2" value="{{userClass}}" [(ngModel)]="userClass" placeholder="E"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" (click)="updateUserDetails('class')">Update Class</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="userRole == 'vendor'">
      <ion-col>
        <ion-label position="stacked">Stall Number</ion-label>
        <ion-input maxlength="6" value="{{userStall}}" [(ngModel)]="userStall" placeholder="#01-01"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" (click)="updateUserDetails('stall-no')">Update Stall Number</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer>
  <ion-button color="danger" expand="block" (click)="deleteUser()">Delete User <ion-icon icon-only slot="end" name="trash-outline"></ion-icon></ion-button>
</ion-footer>