<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label>
    <ion-text>
      <h1>{{status}}</h1>
    </ion-text>
  </ion-label>

  <ion-button (click)="recordAudio()">Record</ion-button>
  <ion-button (click)="stopRecording()">Stop</ion-button>
  <ion-button (click)="playAudio()">Play</ion-button>

  <ion-label>
    <ion-text>
      {{ base64text }}
    </ion-text>
  </ion-label>



</ion-content>