<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="recaptcha-container" style="display: none;"></div>

  <div *ngIf="!otpSent">
    <ion-card style="margin: 20px 28px 20px 20px; border-radius: 30px;height: auto;">
      <ion-card-header style="margin-bottom: 0px;">
        <!-- <ion-img style="background: blue; width:90%;height:240px;margin:20px auto 34px auto;" src="http://localhost:8100/src/assets/icon/applogo.JPG"></ion-img> -->
        <h2 style="margin-left:16px;">Register</h2>
      </ion-card-header>
      <ion-card-content style="margin-top: 0;">
        <br>
        <form>
          <br>
          <div style="filter: drop-shadow(5px 5px 5px rgb(77, 77, 77));border: white 4px solid;border-radius: 50%;width:230px;height:230px;margin:0 auto 0 auto; background:rgb(49, 48, 48);padding: 24px;">
            <div style="margin-top: 48%;"></div>
            <a style="cursor: pointer;"><h2 style="color:white;text-align:center">UPLOAD PROFILE PHOTO</h2></a>
          </div>
          <br>
          <br>
          <ion-item>
            <ion-label style="color: grey;" position="stacked">First Name</ion-label>
            <ion-input required type="text" name="fName"></ion-input>
          </ion-item>
         
          <ion-item>
            <ion-label style="color: grey;" position="stacked">Last Name</ion-label>
            <ion-input required type="text" name="lName"></ion-input>
          </ion-item>
          <!-- <ion-row>
            <ion-col size="4">
              <ion-item>
                <ion-label style="color: grey;" position="stacked">Country</ion-label>
                <p>+65</p>
              </ion-item>
            </ion-col>
            <ion-col size="8"> -->
              <ion-item>
                <ion-label style="color: grey;" position="stacked">Phone Number</ion-label>
                <ion-input id="phoneNumber" required [(ngModel)]="phoneNo.number" type="text" name="phone"></ion-input>
              </ion-item>
            <!-- </ion-col>
          </ion-row> -->
          <ion-item>
            <ion-label style="color: grey;" position="stacked">Password
              <!-- <span class="passwordUnmatched errorFields"><ion-icon class="fielderrorattention" name="alert-circle"></ion-icon> The passwords do not match!</span> -->
            </ion-label>
            <ion-input required [(ngModel)]="password" type="password" name="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="color: grey;" position="stacked">Retype Password
              <!-- <span class="passwordUnmatched errorFields"><ion-icon class="fielderrorattention" name="alert-circle"></ion-icon> The passwords do not match!</span> -->
            </ion-label>
            <ion-input required [(ngModel)]="cPass" type="password" name="cPass"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="color: grey;" position="stacked">Date of Birth</ion-label>
            <ion-input ngModel type="text" name="doB"></ion-input>
          </ion-item>
          <ion-item style="margin: 12px 0 20px 0" lines="none">
            <ion-label>I agree with EZ Pay's <a href="#" target="_blank">Terms & Conditions</a></ion-label>
            <ion-checkbox slot="start" id="tncChecked" [(ngModel)]="tncAgreed" name="checkboxTnc" [checked]="tncAgreed"></ion-checkbox>
          </ion-item>
          <br>
  
          <ion-button [disabled]="!tncAgreed" expand="block" type="submit" value="submit" fill="outline" (click)="registerAccount()" shape="round">Register</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
    <!-- <ion-note style="font-weight: bold; font-size: medium;">
        Enter the phone number you want to verify with OTP
    </ion-note>

    <ion-item>
      <ion-label position="floating"> Phone Number </ion-label>
      <ion-input id="phoneNumber" [(ngModel)]="phoneNo.number"></ion-input>
    </ion-item>

    <ion-button style="float: right;margin-top: 30px;" (click)="sentOTP()">
        Send OTP
    </ion-button> -->
  </div>

  <div *ngIf="otpSent" >
    <h4 style="margin: 12px 0 8px 8px;font-weight: bold; font-size: medium;">
      Enter the OTP sent to {{protectedPhoneNumber}}
    </h4>
    <ion-row>
      <ion-col size="8">
        <ion-item>
          <ion-label position="floating">Verification Code</ion-label>
          <ion-input id="otp"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-button style="float: right;margin-top: 30px;" (click)="verifyOTP()">
          Verify OTP
        </ion-button> 
      </ion-col>
    </ion-row>
  </div>
</ion-content>
