<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>


<br>
  
  <ion-content [fullscreen]="true">
    <ion-list lines="full" style="padding: 0px;">
      <ion-item-group>

        <!-- <ion-item detail [routerLink]="'/about'">About</ion-item> -->

        <ion-item detail button (click)="openProfile()">
          <ion-icon name="person-circle-outline" style="margin-right: 10px;"></ion-icon> View Profile
        </ion-item>
        <ion-item detail button (click)="openReport()">

          <ion-icon name="warning-outline" style="margin-right: 10px;"></ion-icon>Report Error
        </ion-item>

        <ion-item detail button (click)="openEmailCom()">
          <ion-icon name="mail-outline" style="margin-right: 10px;"></ion-icon> Report VIA email
        </ion-item>

       

        <!-- <ion-item>
          <ion-icon name="leaf" item-start></ion-icon>Herbology
        </ion-item> -->
  
      </ion-item-group>
    </ion-list>
</ion-content>




