<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

 
    <br><br><br>
      <ion-button expand="block" size="medium">Report Error</ion-button>
<br>
      <ion-button expand="block" size="medium">View Profile</ion-button>
 <br>

    <ion-item>
      <ion-label>Change Font Size</ion-label>
      <ion-select value="Small" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="Small">Small</ion-select-option>
        <ion-select-option value="Medium">Medium</ion-select-option>
        <ion-select-option value="Large">Large</ion-select-option>
      </ion-select>
    </ion-item>


  
  </ion-list>

</ion-content>




