<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>
        阿巴阿巴阿巴
      </ion-label>
    </ion-list-header>


    <ion-item>
      <IonButton expand="full">Report Error</IonButton>
    </ion-item>
  
    <ion-item>
      <ion-label>Change Font Size</ion-label>
      <ion-select value="Small" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="Small">Small</ion-select-option>
        <ion-select-option value="Medium">Medium</ion-select-option>
        <ion-select-option value="Large">Large</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <IonButton expand="full">View Profile</IonButton>
    </ion-item>
  
  </ion-list>

</ion-content>
